#all{width:100%;height:3000px;border:0px solid black;}
#top{width:97%;height:25px;border:0px solid black;float:left;line-height:25px;background-color:#EEEEEE;padding-left:3%;}
#top ul{float:right;}
#top ul li{list-style: none;width:100px;float:left;text-align:center;}
#top ul li a{border-right:1px solid gray;color:gray;padding:3px 10px;}
#top img{position:relative;top:3px;left:-5px;}
#content-1{width:100%;height:100px;background-image:url(images/logo.png);background-repeat:no-repeat;background-position:40px 20px;;float:left;border:0px solid black;}
#content-1 span{display:inline-block;height:60px;border-left:1px solid black;padding-left:20px;margin-left:200px;margin-top:20px;line-height:60px;font-size:18px;color:black;}
#dtxt{width:300px;height:30px;border-radius:15px;background:red;position:relative;left:330px;top:-45px;border-width:none;border-color:red;margin-left:200px;background-image:url(images/search.png);background-repeat:no-repeat;background-position:270px 5px;}
#dtxt input{width:250px;height:28px;margin-top:1px;margin-left:1px;border:none;border-radius:15px 0 0 15px;}
#content-1 img{margin-top:25px;margin-left:80px;float:right;margin-top:-80px;margin-right:300px;}
#head{display:block;width:100%;float:left;padding-top:15px;padding-bottom:15px;background-color:#E12113;}
#head span{float:left;font-size:20px;margin-left:80px;color:white;}
#head li{list-style: none;float:left;margin-left:40px;}
#head li a{font-size:20px;color:white;margin-left:50px;}
#content-2{width:100%;height:400px;border:0px solid black;float:left;}
#c2-left{width:230px;height:100%;border:1px solid red;float:left;margin-left:40px;margin-right:20px;}
#c2_img{position:relative;left:820px;top:-500px;}
.l_small{width:230px;height:98px;border:0px solid black;}
#c2-left p{font-size:16px;font-weight:bold;color:black;margin-left:40px;}
.l_small ul{float:left;margin-left:40px;}
.l_small ul li{list-style: none;float:left;}
#content-3{width:100%;height:300px;border:0px solid black;float:left;margin-top:5px;}
#content-3 ul{float:left;margin-left:40px;}
#c3-left li{list-style: none;float:left;width:179px;height:250px;border:1px solid black;overflow:hidden;}
#content-3 h3{float:left;margin-left:40px;}
#c3-right{float:right;height:300px;width:300px;border:1px solid black;margin-right:90px;margin-top:-40px;}
#c3-left span{background-color:#E6B84C;color:white;padding:2px 2px;position:relative;left:5px;top:15px;}
#c3-left li img{list-style: none;margin-top:60px;}
.content-4{width:100%;height:330px;border:0px solid black;float:left;}
.c4-top{width:97%;height:30px;border-width:0 0 5px 0;border-color:#DBB10F;border-style:solid;float:left;padding-left:3%;}
.span1{font-size:18px;color:#DBB10F;}
.span2{color:black;margin-right:50px;}
.span3{font-size:13px;margin-left:10px;}
.content-4 ul{float:left;margin-left:40px;margin-top:10px;}
.content-4 li{list-style: none;float:left;width:210px;height:270px;border:1px solid black;margin-right:30px;border-radius:8px;
		background-color:#F5F5F5;background-image:url(images/main_heart.png);background-repeat:no-repeat;background-position:5px 5px;}
.content-4 ul span{margin-left:20px;}
.content-4 ul strong{float:right;margin-right:10px;}
.content-4 ul img{margin-top:10px;}
.content-4 ul font{margin-left:20px;}
.content-4 ul p{margin-left:20px;margin-top:10px;}
.content-4 ul p b{width:80px;height:15px;background-color:#EB7171;color:white;font-size:12px;padding:3px 3px;margin-left:50px;border-radius:5px;}
.c4-right{width:250px;height:270px;float:left;border-radius:8px;border:1px solid black;margin-top:10px;}
.c4-right h4{font-size:15px;color:black;}
.c4-right p{background-color:#DBB10F;color:white;padding:3px 3px;}
.c4-right input{margin-bottom:120px;}
#content-5{width:100%;height:220px;border:0px solid black;float:left;}
.c5-big{width:30%;height:100%;border:0px solid black;float:left;}
.c5-small{width:100%;height:83%;border:1px solid black;float:left;margin-top:10px;background-color:#EEEEEE;}
.c5-big span{color:#E92323;font-size:19px;font-weight:bold;}
.c5-small ol{margin-left:20px;line-height:30px;}
.c5-small a{color:#333333;}
.c5-small p{color:red;float:right;}
#content-6{width:100%;height:100px;float:left;border-bottom:5px solid red;}
#content-7{width:100%;height:410px;border:0px solid black;float:left;background-color:#EEEEEE;}


.c2-1{width:190px;height:190px;border-right:1px solid gray;float:left;margin-top:10px;text-align:center;}
.c2-1 img{margin-top:5px;}
.c2-1 h2{font-size:18px;}
.c2-1 span{color:black;font-size:16px;line-height:35px;}
.c2-2{width:550px;height:190px;border-right:1px solid gray;float:left;margin-top:10px;}
.c2-2 ul{float:left;margin-left:50px;}
.c2-2 li{list-style-type:none;line-height:30px;}
.c2-2 li a{font-size:16px;color:black;}

#mind{width:100%;height:50px;border:0px solid black;float:left;}
#foot{width:100%;height:138px;border:0px solid black;float:left;text-align:center;padding-top:20px;}
#foot p{display:inline-block;color:black;}
#mind a{color:gray;}










